
/*
 * Globals
 */

 @import "ui-components.css";

* { margin:0; }

body {
  font: 100% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #333;
  /*min-height: 2000px;*/
}

header {
  width:120px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #9c9c9c;*/
}

header p {
  /*text-align: center;*/
}

header p span {
  font-weight: bold;
}

nav {
  /*position: absolute;*/
  width:50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
}

/*.titles{
  position:fixed;
  top:20px;
  left:45%;
}*/

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.rslides {
  z-index: -1;
  margin: -40px auto 40px;
}

.portfolio img{
  display:block;
  margin:0 auto;
}

footer {
  /*position: absolute;*/
  bottom: 0;
  width: 300px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}


/* media Step*/
@media screen and (min-width: 1280px) {
    footer {
      width:100%;
    }
    #slider {
      width: 80%;
    }
    .portfolio img{
      width: 80%;
    }
}

@media screen and (min-width: 960px) {

    footer {
      width:100%;
    }
    #slider {
      width: 80%;
    }
    .portfolio img{
      width: 80%;
    }
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
      width:40%;
    }
    footer {
      width:100%;
    }
    #slider img{
        width: 100%;
    }

}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
      width:35%;
    }
    footer {
      width:100%;
    }
    #slider img{
        width: 100%;
    }

}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    header {
      width:30%;
    }
    footer {
      width:100%;
    }
    #slider img{
        width: 100%;
    }

}
